#  T-tests and P-values

In statistics, t-test is used to test if two data samples have a significant difference between their means. There are two types of t-test:

* **Student's t-test** (a.k.a. independent or uncorrelated t-test). This type of t-test is to compare the samples of **two independent populations** (e.g. test scores of students in two different classes). `scipy` provides the [`ttest_ind`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_ind.html) method to conduct student's t-test.

* **Paired t-test** (a.k.a. dependent or correlated t-test). This type of t-test is to compare the samples of **the same population** (e.g. scores of different tests of students in the same class). `scipy` provides the [`ttest_rel`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_rel.html) method to conduct paired t-test.

Both types of t-tests return a number which is called the **p-value**. If p-value is below 0.05, we can confidently declare the null-hypothesis is rejected and the difference is significant. If p-value is between 0.05 and 0.1, we may also declare the null-hypothesis is rejected but we are not highly confident. If p-value is above 0.1 we do not reject the null-hypothesis.

Read more about the t-test in [this article](http://b.link/test50) and [this Quora](http://b.link/unpaired97). Make sure you understand when to use which type of t-test.

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

### One tailed t-test 
In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/ttest_machine.xlsx. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

#### Import dataset

In [7]:
# Your code here:
data = pd.read_csv('ttest_machine.txt', sep = ' ')
data

   New_machine  Old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [6]:
data.shape

(10, 2)

In [16]:
# H0: The packing time of the old => The packing time of the new
# H1: The packing time of the old < The packing time of the new
stat, pvalue = st.ttest_ind(data['Old_machine'],data['New_machine'], equal_var=False)

In [17]:
print("Statistic is ", stat, "p value is: ", pvalue/2)

Statistic is  3.3972307061176026 p value is:  0.00162112473315899

In [ ]:
#The p va

#### Import dataset

In this challenge we will work on the Pokemon dataset you have already used. The goal is to test whether different groups of pokemon (e.g. Legendary vs Normal, Generation 1 vs 2, single-type vs dual-type) have different stats (e.g. HP, Attack, Defense, etc.). Use pokemon.csv

In [19]:
# Your code here:
pokemon = pd.read_csv('pokemon.txt')
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

#### First we want to define a function with which we can test the means of a feature set of two samples. 

In the next cell you'll see the annotations of the Python function that explains what this function does and its arguments and returned value. This type of annotation is called **docstring** which is a convention used among Python developers. The docstring convention allows developers to write consistent tech documentations for their codes so that others can read. It also allows some websites to automatically parse the docstrings and display user-friendly documentations.

Follow the specifications of the docstring and complete the function.

In [20]:
s1 = pokemon[pokemon['Legendary']==False].sample(15)
s2 = pokemon[pokemon['Legendary']==True].sample(15)

In [22]:
s1.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
152,141,Kabutops,Rock,Water,495,60,115,105,65,70,80,1,False
278,257,Blaziken,Fire,Fighting,530,80,120,70,110,70,80,3,False
584,525,Boldore,Rock,NaN,390,70,105,105,50,40,20,5,False
202,187,Hoppip,Grass,Flying,250,35,35,40,35,55,50,2,False
406,371,Bagon,Dragon,NaN,300,45,75,60,40,30,50,3,False

In [23]:
s2.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
537,480,Uxie,Psychic,NaN,580,75,75,130,75,130,95,4,True
422,382,KyogrePrimal Kyogre,Water,NaN,770,100,150,90,180,160,90,3,True
430,386,DeoxysDefense Forme,Psychic,NaN,600,50,70,160,70,160,90,3,True
550,492,ShayminLand Forme,Grass,NaN,600,100,100,100,100,100,100,4,True
419,381,Latios,Dragon,Psychic,600,80,90,80,130,110,110,3,True

In [31]:
def t_test_features(s1, s2, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']):
    """Test means of a feature set of two samples
    
    Args:
        s1 (dataframe): sample 1
        s2 (dataframe): sample 2
        features (list): an array of features to test
    
    Returns:
        dict: a dictionary of t-test scores for each feature where the feature name is the key and the p-value is the value
    """
    results = {}

    for feature in features:
        t_stat, p_value = st.ttest_ind(s1[feature], s2[feature], equal_var=False)
        results[feature] = p_value
    
    return results

#### Using the `t_test_features` function, conduct t-test for Lengendary vs non-Legendary pokemons.

*Hint: your output should look like below:*

```
{'HP': 1.0026911708035284e-13,
 'Attack': 2.520372449236646e-16,
 'Defense': 4.8269984949193316e-11,
 'Sp. Atk': 1.5514614112239812e-21,
 'Sp. Def': 2.2949327864052826e-15,
 'Speed': 1.049016311882451e-18,
 'Total': 9.357954335957446e-47}
 ```

In [33]:
# Your code here
t_test_results = t_test_features(s1, s2)
t_test_results

{'HP': 0.0866770014310709,
 'Attack': 0.011047788802937357,
 'Defense': 0.016898313603050878,
 'Sp. Atk': 0.00025769319642569415,
 'Sp. Def': 1.1130052429368886e-05,
 'Speed': 0.004108141480519764,
 'Total': 3.6589924283442467e-07}

#### From the test results above, what conclusion can you make? Do Legendary and non-Legendary pokemons have significantly different stats on each feature?

In [ ]:
##Hipothesis testing
#H0 : statistiscs of legendary pokemons = statistics of non legendary pokemons
#H1 : statistiscs of legendary pokemons != statistics of non legendary pokemons
#Because the p_value of HP is not below 0.05 we can not reject the null hipothesis

#### Next, conduct t-test for Generation 1 and Generation 2 pokemons.

In [34]:
# Your code here
G1 = pokemon[pokemon['Generation']==1].sample(15)
G2 = pokemon[pokemon['Generation']==2].sample(15)

In [35]:
t_test_results = t_test_features(G1, G2)
t_test_results

{'HP': 0.0715531878065532,
 'Attack': 0.014311471842606935,
 'Defense': 0.0643070905569902,
 'Sp. Atk': 0.39487962065293125,
 'Sp. Def': 0.8961051011707288,
 'Speed': 0.9039425004299406,
 'Total': 0.07452079014526855}

#### What conclusions can you make?

In [ ]:
# Your comment here
#H0 : statistiscs of Generation1 pokemons = statistics of non Generation2 pokemons
#H1 : statistiscs of Generation1 pokemons != statistics of non Generation2 pokemons
#Because the p_value of almost all is above 0.05 we can not reject the null hypothesis

#### Compare pokemons who have single type vs those having two types.

In [36]:
# Your code here
single_type = pokemon[pokemon['Type 2'].isna()].sample(30)
dual_type = pokemon[~pokemon['Type 2'].isna()].sample(30)

In [37]:
t_test_results = t_test_features(single_type, dual_type)
t_test_results

{'HP': 0.7333665972503989,
 'Attack': 0.02319000134622813,
 'Defense': 0.04835423121110679,
 'Sp. Atk': 0.24490316935534953,
 'Sp. Def': 0.20659897044087072,
 'Speed': 0.8288788475236721,
 'Total': 0.06752386670426498}

#### What conclusions can you make?

In [ ]:
#H0: Type1 = type2
#H1: Type1 != type2
#Because the p_value of almost all is above 0.05 we can not reject the null hypothesis

#### Now, we want to compare whether there are significant differences of `Attack` vs `Defense`  and  `Sp. Atk` vs `Sp. Def` of all pokemons. Please write your code below.

*Hint: are you comparing different populations or the same population?*

In [46]:
stat, p_value = st.ttest_rel(pokemon['Attack'], pokemon['Defense'])
stat1, p_value1 = st.ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

In [47]:
print(stat)
print(p_value)
print(stat1)
print(p_value1)

4.325566393330478
1.7140303479358558e-05
0.853986188453353
0.3933685997548122

#### What conclusions can you make?

In [ ]:
# Your comment here
#H0: Attack = Defense
#H1: Attack != Defense

#H0: Sp. Atk = Sp. Def
#H1: Sp. Atk != Sp. Def


#For the Attack and Defense we can reject the null hypotesis because the p value is very low
#For the Sp. Atk vs Sp. Def we can't reject the null hypotesis because the p value is above 0.05